 {
   BasedOnStyle: GOOGLE,
   Language: Cpp,
   IndentWidth: 4,
   SortIncludes: false,
   AlignAfterOpenBracket: AlwaysBreak,
   AlignConsecutiveMacros: AcrossEmptyLines,
   AlignConsecutiveAssignments: true,
   DerivePointerAlignment: true,
   PointerAlignment: Right,
   AccessModifierOffset: -4,
   ColumnLimit: 0,
   MaxEmptyLinesToKeep: 1,
   AlwaysBreakTemplateDeclarations: true,
   BreakBeforeBraces: Allman,
   NamespaceIndentation: All,
   BreakConstructorInitializers: BeforeComma,
   ConstructorInitializerAllOnOneLineOrOnePerLine: false,
   EmptyLineBeforeAccessModifier: LogicalBlock,
   AlignAfterOpenBracket: Align,
   AlignConsecutiveDeclarations: true,
   PointerAlignment: "Right",
   AllowShortFunctionsOnASingleLine: Inline,
   AllowAllArgumentsOnNextLine: false,
   BinPackParameters: false,
   BinPackArguments: false,
}